/* Стили для карточек слов */
.word-card {
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 30%;
    height: 40%;
}

.word-card h2 {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
}

.word-card p {
    color: #666;
    font-size: 14px;
    margin-bottom: 10px;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
