/* Стили для карточек слов */
.word-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    height: 80%;
    cursor: pointer; 
    perspective: 1000px; /* Добавляем перспективу для 3D эффекта */
}

.card-inner {
    position: relative;
    width: 60%;
    height: 100%;
    transition: transform 0.6s; /* Плавный переход */
    transform-style: preserve-3d; /* Позволяет дочерним элементам сохранять 3D-эффект */
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Скрывает обратную сторону при повороте */
}

.card-front {
    /* Лицевая сторона */
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-back {
    /* Задняя сторона */
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg); /* Поворачиваем заднюю сторону */
}

/* .word-card h2 {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
}

.word-card p {
    color: #666;
    font-size: 14px;
    margin-bottom: 10px;
} */

/* .card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
} */

.card-container {
    display: flex; /* Используем Flexbox для размещения элементов */
    justify-content: center; /* Центрируем карточку по горизонтали */
    align-items: center; /* Центрируем карточку по вертикали */
    height: 50vh; /* Задаем высоту контейнера на весь экран */
    padding: 20px; /*Добавляем отступы */
    box-sizing: border-box; /* Учитываем отступы и границы в общей ширине и высоте */
}

.turn{
    transform: rotateY(180deg);
}